.popup__button-save {
    border-radius: 2px;
    margin: 18px 0 37px 0;
    max-width: 100%;
    padding: 14px 0 14px 0;
    background: #000000;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.popup__button-save:hover {
    opacity: 0.8;

}

@media screen and (max-width: 1023px){
    .popup__button-save {
        padding: 15px 0 14px 0;
        margin: 15px 0 25px 0;
        max-width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
}