.header {
    width: 880px;
    padding-bottom: 36px;
    margin: 45px auto 41px auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px){
.header {
    margin: 28px 0 38px 0;
    width: 100%;
    padding-bottom: 31px;
}
}
