.profile__text {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0 18px 7px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px){
    .profile__text {
        margin: 22px 10px 14px auto;
        font-style: normal;
        width: 100%;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;

        padding-left: 60px;
        padding-right: 60px;
        margin-right: -50px;
    }
}