.popup-photo__button-exit {
    position: absolute;
    border: none;
    width: 32px;
    height: 32px;
    background-image: url("../../../images/close.svg");
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    right: -40px;
    top: -40px;
}

@media screen and (max-width: 1023px){
    .popup-photo__button-exit {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}