.popup__title {
    margin: 34px 64px 54px 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    height: 23px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 1023px){
    .popup__title {
        margin: 25px auto 75px auto;
        font-size: 18px;
        line-height: 22px;
        height: 22px;
        width: 238px;
    }
}